<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Cadastro de Empresa</title>
    <!-- Link para o Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" th:href="@{/clientes}"> Clientes</a>
    <a class="navbar-brand" th:href="@{/empresas}"> Empresas</a>
</nav>

<div class="container mt-3">
    <h2>Cadastro de Empresa</h2>
    <form th:action="@{/empresas/adicionar}" th:object="${empresa}" method="post">

        <div class="form-group">
            <label for="nome">Nome:</label>
            <input type="text" id="nome" class="form-control" th:field="*{nome}" />
        </div>

        <!-- Adicione outros campos conforme necessário -->

        <div class="form-group">
            <label> Clientes:</label>
            <div th:each="cliente : ${clientes}">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="cliente-${cliente.id}"
                           name="clientes" th:value="${cliente.id}"
                           th:checked="${empresa.clientes.contains(cliente)}" />
                    <label class="form-check-label" th:for="'cliente-' + ${cliente.id}"
                           th:text="${cliente.nome}"></label>
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Salvar</button>
    </form>
</div>

</body>

</html>
