<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="img/Webalys-Kameleon.pics-Music-Equalizer.svg" type="image/x-icon" />
  <title>Equalizer</title>
  <!-- Google fonts Lato -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous" />

  <!-- CSS Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />

  <!-- Bootstrap Icons -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" />

  <!-- CSS do projeto -->
  <link rel="stylesheet" href="../css/styles.css" />
  <link rel="stylesheet" href="../css/empreCertificadas.css" />

  <!-- JavaScript Bootstrap -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>

</head>

<body>
  <header>
    <!-- NAVBAR: ================================================================================================================== -->
    <nav class="navbar navbar-expand-lg fixed-top bg-primary-color" id="navbar">
      <div class="container py-3">
        <a class="navbar-brand" href="../index.html">
          <img src="../img/logo 2.png" alt="iMovi" />
          <span>Equalizer</span>
        </a>

        <!--Botão para alternar a visibilidade do menu de navegação em telas pequenas:====================== -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-items"
          aria-controls="navbar-items" aria-expanded="false" aria-label="Toggle navigation">
          <i class="bi bi-list"></i>
        </button>
        <!--Fim - Botão para alternar a visibilidade do menu de navegação em telas pequenas.================ -->

        <div class="collapse navbar-collapse" id="navbar-items">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="navbar nav-item">
              <a class="nav-link dropdown-toggle" href="#" id="certificacaoDropdown" role="button"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Certificação</a>
              <div id="certificacao" class="dropdown-menu" aria-labelledby="certificacaoDropdown">
                <a class="dropdown-item" href="../html/jornada.html">Iniciar minha jornada</a>
                <!-- <a class="dropdown-item" href="#">Empresas certificadas</a> -->
              </div>
            </li>

            <li class="navbar nav-item">
              <a class="nav-link dropdown-toggle" href="#" id="consultoriasDropdown" role="button"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Consultorias</a>
              <div class="dropdown-menu" aria-labelledby="consultoriasDropdown">
                <a class="dropdown-item" href="../html/login.html">Minha consultoria</a>
                <a class="dropdown-item" href="../html/error.html">Agendar consultoria</a>
              </div>
            </li>

            <li class="navbar nav-item">
              <a class="nav-link" href="../html/saibaM.html">Saiba mais</a>
            </li>

            <li class="navbar nav-item">
              <a class="nav-link" href="../html/contato.html">Contate-nos</a>
            </li>

            <li class="navbar nav-item">
              <a class="nav-link" href="../html/login.html">Login</a>
            </li>
          </ul>

          <form class="search">
            <input type="text" placeholder="Pesquisar" class="searchinput">
            <button type="button" class="searchbutton btn-outline">
              <i class="ri-search-2-line"></i>
            </button>
          </form>
        </div>
      </div>
    </nav>
    <!--Fim - NAVBAR: ============================================================================================================= -->
  </header>

  <main class="d-block w-100">
    <section id="caseSucesso">
      <div class="container-fluid">
        <h1>Empresas Certificadas pela Equalizer</h1><br>
      </div>

      <div id="transformaInspira" class="container-fluid border">
        <div class="row">
          <div class="col">
            <h3>Transformar Empresas & Inspirar Sucesso</h3>
            <p class="text-break">Seja bem-vindo à galeria de nossos cases de sucesso — uma celebração das empresas
              certificadas pela
              Equalizer que abraçaram a diversidade e a inclusão para impulsionar seus indicadores de sucesso. Estas
              organizações não apenas alcançaram, mas ultrapassaram metas significativas, desbravando novos caminhos
              em ambientes de trabalho mais inclusivos e inovadores.</p><br>
          </div>
          <div class="col">
            <h3>Conhecendo Nossos Destaques</h3>
            <p class="text-break">Cada empresa apresentada aqui representa um compromisso inabalável com a diversidade,
              equidade e
              inclusão (D&I). Esses são mais do que simples casos de sucesso; são testemunhos tangíveis de como as
              práticas inclusivas não apenas transformam culturas organizacionais, mas também fortalecem os alicerces
              do sucesso empresarial.</p>
          </div>
        </div>
      </div>


      <div id="cardsSucesso">
        <div id="caseSucesso">
          <div class="ladoALado">
            <div id="cardPromo" class="col card text-center custom-card">
              <img src="../img/_casesSucesso/inovaTech.png" class="card-img"
                alt="InovaTech Solutions: case de sucesso.">
              <div class="card-img-overlay">
                <div class="centered-text">
                  <h5 class="card-title">InovaTech Solutions</h5>
                  <p class="textoA">Aumento de 20% na satisfação dos funcionários após iniciativas de D&I.</p>
                  <P class="textoB">Redução de 15% no turnover desde a implementação de programas inclusivos.</P>
                  <button type="button" class="btn btn-outline-light"><a href="../html/error.html">VISITAR</a></button>
                </div>
              </div>
            </div>
          </div>

          <div class="ladoALado">
            <div class=" card text-center custom-card">
              <img src="../img/_casesSucesso/ecoHarmony.png" class="card-img"
                alt="EcoHarmony Industries: case de sucesso.">
              <div class="card-img-overlay">
                <div class="centered-text">
                  <h5 class="card-title">EcoHarmony Industries</h5>
                  <p class="textoA">Melhoria de 25% na criatividade da equipe através de treinamentos inclusivos.</p>
                  <P class="textoB">Aumento de 18% na diversidade de talentos recrutados.</P>
                  <button type="button" class="btn btn-outline-light"><a href="../html/error.html">VISITAR</a></button>
                </div>
              </div>
            </div>
          </div>

          <div class="ladoALado">
            <div class=" card text-center custom-card">
              <img src="../img/_casesSucesso/globalConect.png" class="card-img"
                alt="GlobalConnect Services: case de sucesso.">
              <div class="card-img-overlay">
                <div class="centered-text">
                  <h5 class="card-title">GlobalConnect Services</h5>
                  <p class="textoA">Elevação de 30% na produtividade da equipe com foco em ambientes inclusivos.</p>
                  <P class="textoB">Reconhecimento externo com um prêmio de Diversidade Empresarial.</P>
                  <button type="button" class="btn btn-outline-light"><a href="../html/error.html">VISITAR</a></button>
                </div>
              </div>
            </div>
          </div>

          <div class="ladoALado">
            <div class=" card text-center custom-card">
              <img src="../img/_casesSucesso/harmonyHealth.png" class="card-img"
                alt="HarmonyHealth Solutions: case de sucesso.">
              <div class="card-img-overlay">
                <div class="centered-text">
                  <h5 class="card-title">HarmonyHealth Solutions</h5>
                  <p class="textoA">Crescimento de 20% na retenção de talentos após a implementação de políticas
                    inclusivas.</p>
                  <P class="textoB">Redução de 25% nos conflitos internos relacionados à diversidade.</P>
                  <button type="button" class="btn btn-outline-light"><a href="../html/error.html">VISITAR</a></button>
                </div>
              </div>
            </div>
          </div>

          <div class="ladoALado">
            <div id="cardPromo" class="col card text-center custom-card">
              <img src="../img/_casesSucesso/techInclusion.png" class="card-img"
                alt="TechInclusion Innovations: case de sucesso.">
              <div class="card-img-overlay">
                <div class="centered-text">
                  <h5 class="card-title">TechInclusion Innovations</h5>
                  <p class="textoA">Aumento de 22% na eficiência da equipe após treinamentos sobre viés inconsciente.
                  </p>
                  <P class="textoB">Participação destacada em eventos de diversidade, resultando em 30% mais
                    visibilidade.</P>
                  <button type="button" class="btn btn-outline-light"><a href="../html/error.html">VISITAR</a></button>
                </div>
              </div>
            </div>
          </div>

          <div class="ladoALado">
            <div class=" card text-center custom-card">
              <img src="../img/_casesSucesso/eduCorp.png" class="card-img" alt="EduCorp Dynamics: case de sucesso.">
              <div class="card-img-overlay">
                <div class="centered-text">
                  <h5 class="card-title">EduCorp Dynamics</h5>
                  <p class="textoA">Melhoria de 15% na satisfação dos clientes após programas inclusivos.</p>
                  <P class="textoB">Aumento de 20% na diversidade de fornecedores contratados.</P>
                  <button type="button" class="btn btn-outline-light"><a href="../html/error.html">VISITAR</a></button>
                </div>
              </div>
            </div>
          </div>

          <div class="ladoALado">
            <div class=" card text-center custom-card">
              <img src="../img/_casesSucesso/wellCare.png" class="card-img" alt="WellCare Solutions: case de sucesso.">
              <div class="card-img-overlay">
                <div class="centered-text">
                  <h5 class="card-title">WellCare Solutions</h5>
                  <p class="textoA">Crescimento de 25% na retenção de talentos femininos com políticas de igualdade de
                    gênero.</p>
                  <P class="textoB">Redução de 30% nos casos de discriminação relatados.</P>
                  <button type="button" class="btn btn-outline-light"><a href="../html/error.html">VISITAR</a></button>
                </div>
              </div>
            </div>
          </div>

          <div class="ladoALado">
            <div class=" card text-center custom-card">
              <img src="../img/_casesSucesso/futureInovate.png" class="card-img"
                alt="FutureInnovate Group: case de sucesso.">
              <div class="card-img-overlay">
                <div class="centered-text">
                  <h5 class="card-title">FutureInnovate Group</h5>
                  <p class="textoA">Aumento de 18% na inovação da equipe com iniciativas inclusivas.</p>
                  <P class="textoB">Reconhecimento como "Empresa Amiga da Diversidade" pela comunidade local.</P>
                  <button type="button" class="btn btn-outline-light"><a href="../html/error.html">VISITAR</a></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="seloEqualizer" class="container-fluid">
      <div id="blocoSelo1" class="container-fluid">
        <h1>O que é a Certificação Equalizer de D&I?</h1>

        <div id="textosBl1" class="container-fluid">
          <div class="row">
            <div id="imgTexto" class="col-md-8 container-fluid">
              <div class="row">
                <div class="col">
                  <img id="selo" src="../img/selo.png" alt="Selo Equalizer.">
                </div>
                <div class="col-md-8">
                  <h3>Selo Equalizer de D&I</h3>
                  <p id="pA">O Selo Equalizer de Diversidade e Inclusão é o distintivo que consagra organizações
                    comprometidas com a construção de ambientes de trabalho inclusivos e equitativos. Mais do que uma
                    certificação, é o reconhecimento público do compromisso em promover uma cultura organizacional que
                    valoriza a diversidade, fomenta a igualdade e cria um espaço seguro para todos os colaboradores.
                  </p>
                </div>
              </div>
            </div>
            <div class="col">
              <p id="pB">Ao exibir o Selo Equalizer, as empresas destacam-se como líderes na transformação do local de
                trabalho, impulsionando o crescimento por meio de práticas inclusivas e inovadoras. É a marca que eleva
                a sua organização a um novo patamar na promoção de um ambiente profissional mais justo e acolhedor.<br>
                Ele não é apenas um selo; é o reconhecimento tangível do seu empenho em transformar o local de trabalho,
                impulsionar o crescimento e criar um ambiente seguro para todos.<br>
                Seja reconhecido como um líder em diversidade e inclusão com o Selo Equalizer de D&I
              </p>
            </div>
          </div>
        </div> <!--BlocoSelo1-->

        <div id="blocoSelo2" class="container">
          <h3>Excelência Inclusiva 360&deg;</h3>
          <div id="texto360" class="row">
            <div class="col">
              <p id="p1">Bem-vindo ao ápice da celebração da diversidade e inclusão empresarial – o evento "Excelência
                Inclusiva 360". Neste extraordinário encontro anual, a Equalizer apresenta as empresas que se destacaram
                no compromisso com a diversidade e inclusão, revelando o tão esperado ranking dos Cases de Sucesso do
                ano.<br>
                Além do prestigioso ranking, oferecemos uma plataforma de aprendizado e networking, onde líderes
                inspiradores compartilham insights valiosos sobre práticas inclusivas. </p>
            </div>

            <div class="col">
              <p id="p3">Ao participar do evento, sua empresa não apenas celebra a conquista, mas também obtém uma
                exposição única na mídia. Este evento não é apenas uma cerimônia de premiação; é uma oportunidade
                exclusiva para compartilhar seus resultados, fortalecer parcerias estratégicas e colher os frutos de um
                ambiente de trabalho verdadeiramente inclusivo
                A visibilidade obtida durante o evento não apenas destaca seu compromisso com a diversidade, mas também
                reforça sua posição como uma organização visionária, pronta para moldar o futuro dos negócios com
                inclusão e inovação.</p>
            </div>
            <div id="premiacao" class="col-md-4">
              <img src="../img/excelenciaInclu.png" alt="Premiação Equalizer 2022">
            </div>
          </div>
        </div> <!-- BlocoSelo2 -->

        <div id="blocoSelo3" class="container">
          <div>
            <p>Promova em sua empresa um ambiente excepcional para trabalhar e se torne o mais novo Case de Sucesso da
              Equalizer</p>
          </div>
          <div id="btnQuero">
            <a href="../html/cadastro.html" class="btn btn-primary">Quero certificar minha empresa</a>
          </div>
        </div> <!-- BlocoSelo3 -->
      </div>
    </section>
  </main>

  <!-- FOOTER -->
  <footer class="container-fluid bg-dark-color" id="footer">
    <div class="container">
      <div class="row">
        <!-- FOOTER TOP -->
        <div class="col-12" id="footer-top">
          <div class="row justify-content-between">
            <div class="col-4">
              <h2>
                <b> EQUALIZER </b>
              </h2>
            </div>
            <div class="col-4" id="social-icons">
              <a href="../html/error.html"><i class="bi bi-facebook"></i></a>
              <a href="../html/error.html"><i class="bi bi-instagram"></i></a>
              <a href="../html/error.html"><i class="bi bi-youtube"></i></a>
              <a href="../html/error.html"><i class="bi bi-twitter"></i></a>
            </div>
          </div>
        </div>
        <!-- FOOTER DETAILS -->
        <div class="col-12" id="footer-details">
          <div class="row">
            <div class="col-12 col-md-4" id="news-container">
              <h4>Fique por dentro das novidades</h4>
              <p class="secondary-color">
                Inscreva-se para saber em primeira mão
              </p>
              <form>
                <div class="mb-3">
                  <input type="email" class="form-control" placeholder="Digite o seu e-mail" />
                </div>
                <button class="btn btn-dark">Inscrever</button>
              </form>
            </div>
            <div class="col-12 col-md-4" id="contact-container">
              <h4>Formas de contato</h4>
              <p class="secondary-color">(11)9999-9999</p>
              <p class="secondary-color">contato@Equalizer.com</p>
            </div>
            <div class="col-12 col-md-4" id="links-container">
              <div class="row">
                <h4>Você pode estar buscando por:</h4>
                <div class="col-6">
                  <ul class="list-unstyled">
                    <li>
                      <a href="../html/empreCertificadas.html" class="secondary-color">Empresas certificadas</a>
                    </li>
                    <li>
                      <a href="../html/error.html" class="secondary-color">Consultorias</a>
                    </li>
                    <li>
                      <a href="../html/saibaM.html" class="secondary-color">saiba mais</a>
                    </li>
                  </ul>
                </div>
                <div class="col-6">
                  <ul class="list-unstyled">
                    <li>
                      <a href="../html/contato.html" class="secondary-color">Contate-nos</a>
                    </li>
                    <li>
                      <a href="../html/login.html" class="secondary-color">Login</a>
                    </li>
                    <li>
                      <a href="../html/error.html" class="secondary-color">Trabalhe Conosco</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- FOOTER BOTTOM -->
        <div class="col-12" id="footer-bottom">
          <div class="row justify-content-between">
            <div class="col-12 col-md-3">
              <p class="secondary-color">EQUALIZER &copy; 2013</p>
            </div>
            <div class="col-12 col-md-3">
              <p class="secondary-color">
                Realizamos o seu projeto com
                <i class="bi bi-heart"></i>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</body>

</html>